<%- include('partials/header') %>
<%- include('partials/nav') %>

<main>
<% if (locals.messages.errors) { %>
    <% messages.errors.forEach( el => { %>
        <div class="alert alert-danger"><%= el.msg %></div>
    <% }) %>    
<% } %>
<div class="container">
    <h2 class="text-center mt-4">Edit Account Information</h2>
    <div class="card currentInfo-card mt-4">
        <div class="card-body">
            <h5 class="card-title text-center">Current Account Information:</h5>
                <p class="card-text mt-3">
                    <strong>User Name</strong>: <%= user.userName %>
                </p>
                <p class="card-text">
                    <strong>Email</strong>: <%= user.email %>
                </p>
        </div>
    </div>
    <div class="signup-container-edit">
        <form method='POST' action="/account/<%= user._id %>/?_method=PUT" 
            >
            <div class="form-floating">
                <input type="text" class="form-control login-input shadow" id="floatingUserName" placeholder="User Name" name='userName' required>
                <label for="floatingUserName">New User Name</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control login-input shadow" id="floatingEmail" placeholder="Email" name='email' required>
                <label for="floatingEmail">Email</label>
            </div>
            <!-- <div class="form-floating">
                <input type="password" class="form-control login-input shadow password" id="floatingSignupPassword" placeholder="Password" name='password' data-toggle required>
                <i class="far fa-eye-slash signup-password-eye" id="signup"></i>
                <label for="floatingPassword">New Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control login-input shadow password" id="floatingConfirmPassword" placeholder="Confirm Password" name='confirmPassword' data-toggle required>
                <i class="far fa-eye-slash signup-password-eye" id="confirm"></i>
                <label for="floatingConfirmPassword">Confirm New Password</label>
            </div> -->
            <div class="text-center">
                <button type="submit" class="login-btn shadow" value="Save">Submit</button>
            </div>
        </form>
    </div>
</div>
</main>

<%- include('partials/footer') %>

